
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<h1>Listing for Ride</h1>

<f:flashMessages />

<table  class="tx_ride" >
	<tr>
		<th><f:translate key="tx_ride_domain_model_ride.description" /></th>
		<th><f:translate key="tx_ride_domain_model_ride.date" /></th>
		<th><f:translate key="tx_ride_domain_model_ride.space" /></th>
		<th><f:translate key="tx_ride_domain_model_ride.route" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{rides}" as="ride">
		<tr>
			<td><f:link.action action="show" arguments="{ride : ride}"> {ride.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ride : ride}"> {ride.date -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ride : ride}"> {ride.space}</f:link.action></td>
			<td><f:link.action action="show" arguments="{ride : ride}"> {ride.route}</f:link.action></td>
			<td><f:link.action action="edit" arguments="{ride : ride}">Edit</f:link.action></td>
			<td><f:link.action action="delete" arguments="{ride : ride}">Delete</f:link.action></td>
		</tr>
	</f:for>
</table>

<f:link.action action="new">New Ride</f:link.action>
</f:section>