<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
			xmlns:e="http://typo3.org/ns/Eike\Ride\ViewHelpers"
			data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">

<f:flashMessages />



<f:if condition="{rides}">
	<f:then>
		<f:render partial="Map/Show" arguments="{addresses:rides, contentUid:contentUid}"/>
		<p>
		<table class="table table-striped">
			<thead>
			<tr>
				<th><f:translate key="tx_ride_domain_model_ride.description" /></th>
				<th><f:translate key="tx_ride_domain_model_ride.start" /></th>
				<th><f:translate key="tx_ride_domain_model_ride.date" /></th>
				<th>#</th>
			</tr>
			</thead>
			<tbody>
			<f:for each="{rides}" as="ride">
				<tr>
					<td>
						{ride.description}
					</td>
					<td>
						{ride.start.city}
					</td>
					<td>
						{ride.date -> f:format.date(format:'Y/m/d H:i')}
					</td>
					<td>
						<f:link.action action="show" arguments="{ride : ride}"><span class="btn btn-small">Eintrag ansehen</span> </f:link.action>
					</td>
					<td>
						<f:render partial="ButtonsEditDelete" arguments="{ride : ride, feUser:feUser}" />
					</td>
				</tr>
			</li>
			</f:for>
			</tbody>
		</table>
		</p>
	</f:then>
	<f:else>
		The are currently no rides available
	</f:else>
</f:if>
<f:if condition="{feUser}">
	<f:then>
		<f:link.action action="new"><span class="btn"><f:translate key="tx_ride_domain_model_ride.createnew" /></span></f:link.action>
	</f:then>
	<f:else>
		<f:if condition="{settings.registrationPid}">
			<f:link.page pageUid="{settings.registrationPid}"><f:translate key="tx_ride_domain_model_ride.havetoregister" /></f:link.page>
		</f:if>
	</f:else>
</f:if>
</f:section>
