
<label for="name">
	<f:translate key="tx_ride_domain_model_address.name" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="name" /><br />
<label for="street">
	<f:translate key="tx_ride_domain_model_address.street" />
</label><br />
	<f:form.textfield property="street" /><br />
<label for="streetNumber">
	<f:translate key="tx_ride_domain_model_address.street_number" />
</label><br />
	<f:form.textfield property="streetNumber" /><br />
<label for="city">
	<f:translate key="tx_ride_domain_model_address.city" />
</label><br />
	<f:form.textfield property="city" /><br />
<label for="zip">
	<f:translate key="tx_ride_domain_model_address.zip" />
</label><br />
	<f:form.textfield property="zip" /><br />
<label for="country">
	<f:translate key="tx_ride_domain_model_address.country" />
</label><br />
	<f:form.textfield property="country" /><br />
<label for="state">
	<f:translate key="tx_ride_domain_model_address.state" />
</label><br />
	<f:form.textfield property="state" /><br />
<label for="latitude">
	<f:translate key="tx_ride_domain_model_address.latitude" />
</label><br />
	<f:form.textfield property="latitude" /><br />
<label for="longitude">
	<f:translate key="tx_ride_domain_model_address.longitude" />
</label><br />
	<f:form.textfield property="longitude" /><br />