<p>
<div class="controls controls-row">
    <h4>
        <label for="description">
	         <f:translate key="tx_ride_domain_model_ride.description" />
         </label>
    </h4>
	   <div class="controls">
	       <f:form.textarea property="description" cols="220" rows="3" class="span8"/>
        </div>
</div>

<div class="controls controls-row">
    <label for="date and space">
        <f:translate key="tx_ride_domain_model_ride.date" /> / <f:translate key="tx_ride_domain_model_ride.space" />
    </label>
    
    <div class="controls">
        <f:if condition="{ride.date}">
            <f:then>
                <f:form.textfield property="date" value="{ride.date->f:format.date(format:'Y-m-d H:i')}" type="date"class="span4" />
            </f:then>
            <f:else>
                <f:form.textfield property="date" value="{now->f:format.date(format:'Y-m-d H:i')}" type="date" class="span4"/>
            </f:else>
        </f:if>
        <f:form.textfield property="space" class="span4"/>
    </div>
</div>

<f:form.hidden property="driver" value="{driver.uid}" />

<div class="controls controls-row">
    <label for="name">
        <f:translate key="tx_ride_domain_model_address.name" /> 
    </label>
    <div class="controls">
        <f:form.textfield property="start.name" class="span8"/>
    </div>
</div>

<div class="controls controls-row">
    <label for="street">
        <f:translate key="tx_ride_domain_model_address.street" /> / <f:translate key="tx_ride_domain_model_address.street_number" />
    </label>
    <div class="controls">
        <f:form.textfield property="start.street" class="span6"/> <f:form.textfield property="start.streetNumber" class="span2"/>
    </div>
</div>

<div class="controls controls-row">
    <label for="ZIP and city">
        <f:translate key="tx_ride_domain_model_address.zip" /> / <f:translate key="tx_ride_domain_model_address.city"/>
    </label>
    <div class="controls">
        <f:form.textfield property="start.zip" class="span2"/><f:form.textfield property="start.city" class="span6"/>
    </div>
</div>

<div class="controls controls-row">
    <label for="country">
	   <f:translate key="tx_ride_domain_model_address.country" /> / <f:translate key="tx_ride_domain_model_address.state" />
    </label>
    <div class="controls">
        <f:form.textfield property="start.country" class="span4"/><f:form.textfield property="start.state" class="span4"/>
    </div>
</div>


<div class="controls controls-row">
    <label for="lat">
	    <f:translate key="tx_ride_domain_model_address.latitude" /> / <f:translate key="tx_ride_domain_model_address.longitude" />
    </label>
    <div class="controls">
        <f:form.textfield property="start.latitude" class="span4"/> <f:form.textfield property="start.longitude" class="span4"/>
    </div>
</div>
	
</p>

<f:if condition="{settings.destination} > 0">
	<f:then>
		<f:form.hidden property="destination" value="{settings.destination}" />
	</f:then>
	<f:else>
		<h3>Destination</h3>
		<label for="space">
			<f:translate key="tx_ride_domain_model_address.name" />
		</label><br />
			<f:form.textfield property="destination.name" /><br />
		<label for="space">
			<f:translate key="tx_ride_domain_model_address.street" />
		</label><br />
		<f:form.textfield property="destination.street" />
		<label for="space">
			<f:translate key="tx_ride_domain_model_address.street_number" />
		</label>
		<f:form.textfield property="destination.streetNumber" /> <br />
		<label for="space">
			<f:translate key="tx_ride_domain_model_address.city" />
		
		</label><br />
		<f:form.textfield property="destination.city" /> <br />
		<label for="space">
			<f:translate key="tx_ride_domain_model_address.zip" />
		</label><br />
		<f:form.textfield property="destination.zip" /> <br />
		<label for="space">
			<f:translate key="tx_ride_domain_model_address.country" />
		</label><br />
		<f:form.textfield property="destination.country" /> <br />
		<label for="space">
			<f:translate key="tx_ride_domain_model_address.state" />
		</label><br />
		<f:form.textfield property="destination.state" /> <br />
		<label for="space">
			<f:translate key="tx_ride_domain_model_address.latitude" />
		</label><br />
		<f:form.textfield property="destination.latitude" />
		<label for="space">
			<f:translate key="tx_ride_domain_model_address.latitude" />
		</label>
		<f:form.textfield property="destination.longitude" /><br />
	</f:else>
</f:if>