
<table class="tx-ride" >
	<tr>
		<td>
			<f:translate key="tx_ride_domain_model_ride.description" />
		</td>
		<td>
		{ride.description}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ride_domain_model_ride.date" />
		</td>
		<td>
		{ride.date -> f:format.date()}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ride_domain_model_ride.space" />
		</td>
		<td>
		{ride.space}
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_ride_domain_model_ride.route" />
		</td>
		<td>
		{ride.route}
		</td>
	</tr>
</table>